[2013-02-25 16:19] SimonDegraeve opened #1 "Add an option to specify the extensions to watch"
I use coffeescript et stylus and I cannot manage to restart the server when changes occures in this files.

The current settings are

[code]

[2013-02-25 19:02] #1 closed, assigned to nobody

[2013-02-25 19:03] blai commented on #1
@SimonDegraeve I changed 'watchChanges' to 'supervisor' which allow you to set those options if needed. Please help review the changes and let me know if this helps. Thx

[2013-02-26 04:38] SimonDegraeve commented on #1
The settings in 'supervisor' are not apply to the supervisor exec but to the grunt task

[code]

[2013-02-26 05:06] SimonDegraeve commented on #1
Also I think we need a way to add custom require.extensions in lib/util.js "watchActiveModules"

[2013-02-26 07:13] blai commented on #1
my bad, i mixed up the order of supervisor option and express server options.

[2013-02-26 22:11] blai commented on #1
@SimonDegraeve can you elaborate a little more about your statement `we need a way to add custom require.extensions in lib/util.js "watchActiveModules"`? like how would you like that to be done? By the way, does the latest fix work?

[2013-02-27 07:41] SimonDegraeve commented on #1
The fix is great. But supervisor still doesn't detect the changes in my files like .styl or .jade.... I thought maybe it's caused by the `watchActiveModules` but I am not sure, maybe it's caused by the way how supervisor watch for changes in files.

[2013-02-27 08:14] blai commented on #1
@SimonDegraeve Have you try to use `watch` option of supervisor? If possible, can you share your sample app so I can also take a look at it?

[2013-02-27 15:53] SimonDegraeve commented on #1
supervisor command line works, If i use supervisor provide by grunt-express with `keepalive` set to false, supervisor restart on loop (the next task is grunt-regarde with livereload), if `keepalive` set to true supervisor doesn't detect the change

[2013-02-27 18:12] blai commented on #1
I am not clear on the first part when your supervisor restart on loop. But I know why when `keepalive` is true, the change is not detected. when `keepalive` is true, `grunt-express` will be the last grunt task to be run due to the `this.async()` call. If you have `grunt-regarde` setup as the next grunt task in order, `keepalive` will prevent it from doing anything. Without seeing your actual case,

[2013-02-28 04:25] SimonDegraeve commented on #1
- Put `grunt-regarde` in front `grunt-express`  with `keepalive:true` doesn't work because `grunt-regarde` bocks the flow of the tasks
- Put `grunt-express`  with `keepalive:true` inside `grunt-regarde` restart the server in loop

=> If you have grunt-regarde setup as the next grunt task in order, keepalive will prevent it from doing anything
- When `grunt-express`  with `keepalive:true` was befor

[2013-02-28 04:48] blai commented on #1
@SimonDegraeve thx for the suggestion, I will work on this. If you can help extract an sample app to show case your problem, it would help me enhance this as well.

[2013-03-01 07:48] blai commented on #1
@SimonDegraeve I updated this to use forever-monitor. The change is not small, but I was able to show case server restart, browser reload, etc... please see my updated example: https://github.com/blai/grunt-express-example and let me know if you see any issue. Thanks.

[2013-03-04 01:03] SimonDegraeve commented on #1
no issues for me. Thanks for the good job

[2013-03-14 14:10] rudolf opened #3 "Can't get grunt-express to load my custom server?"
My Grunt file:

[code]

I console.log(options) in lib/util.js:50 which gives the following

[code]

I've tried other task name variations with grunt, but nothing gives the right options through to utils?

Thanks,

[2013-03-14 17:12] blai commented on #3
@skaapgif would it be possible you can extract your setup into a sample project so I can play with it a bit?

[2013-03-14 18:00] rudolf commented on #3
Yes :-), I'm basically making a boilerplate for future project: https://github.com/skaapgif/nodetut

I changed the server.coffee file after giving up with grunt-express, but just comment out the last couple of lines to remove the .listen().

[2013-03-14 18:36] blai commented on #3
@skaapgif your "express" task should look like following:

[code]

[2013-03-14 18:36] #3 closed, assigned to nobody

[2013-03-14 18:41] rudolf commented on #3
D'oh! Thanks very much!

[2013-03-23 17:29] nickspacek opened #7 "Dependency issue with forever-monitor"
This is pretty strange, and I'm a newcomer to node so I'm not sure who's at fault here. I'm on node 0.10.0, which I've heard is causing some other modules grief. This is what I'm getting when I try to npm install grunt-express:

`npm ERR! not a package /home/nicks/tmp/npm-10272/1364059427017-0.8045640045311302/tmp.tgz`

It seems to be trying to extract the package into $HOME/tmp instead of just /t

[2013-03-24 14:12] thomasconner opened #8 "Cannot install with NPM version 1.2.15 and Node version 0.10.1"
When I try to install with the versions specified above (NPM version 1.2.15 and Node version 0.10.1) I receive the following error:

[code]

[2013-03-24 14:13] thomasconner commented on #8
I have also tried just installing it with

[code]

and I get the same result.

[2013-03-24 20:09] blai commented on #7
I think this is a npm issue. I did `npm install https://github.com/nodejitsu/forever-monitor.git` and get the same result.

[2013-03-24 22:15] #8 closed, assigned to nobody

[2013-03-24 22:15] blai commented on #7
See #9

[2013-03-24 22:15] #7 closed, assigned to nobody

[2013-03-26 08:19] elhigu opened #10 "Options are not read from Gruntfile.js."
For some reason  var options =  this.options(defaults) call does not seem to get options from grunt file, but returns always the default options. I.e changing port / any other configuration in Gruntfile.js has no effect at all.

However  I can see correct options from grunt file in this.data in grunt-express task.

Versions and config:

express@3.1.0
grunt@0.4.1
grunt-express@0.3.2

[code]

[2013-03-26 16:23] blai commented on #10
it should be like this:

[code]

noted `supervisor` and `watchChanges` is no longer supported.

[2013-03-26 16:23] #10 closed, assigned to nobody

[2013-04-13 08:34] mic0331 opened #11 "livereload snippet with grunt-express?"
Hello,

i found your grunt task very useful to extend the base yeoman config, thanks a lot for that !

In the default yeoman connect there is a possibility to inject the base livereload snippet

[code]

Is there any option to do something similar in the grunt-express pluggin ?

I guess this is a complex thing as it should look for the proper route and inject it into the jade template.

This is not

[2013-04-14 05:37] blai commented on #11
@mic0331 Thanks for the suggestion. Before I jump into solving this problem, may I ask if the way https://github.com/blai/grunt-express-example integrates livereload and grunt-express also fit your use case?

[2013-04-14 07:30] mic0331 commented on #11
hi @blai Thanks for getting back to me.  So far i just replace the yeoman standard grunt-contrib-connect by grunt-express

The example you mention was useful but i don't like the way the "regarde" task is implemented with .server file.

Here is how I proceed

1/ watch task

[code]

2/ express task

[code]

and the default grunt:server task

[code]

Of course for the open task i had to change the p

[2013-04-14 18:01] blai commented on #11
@mic0331 the `.server` watch from `regrade` is not what is making livereload work. It is just there to show yet another way to restart the server. Live reload is the browser reload, not the server reload. So I am a little unclear on which one you are trying to make happen. If you want to do browser livereload, this is what's making it work in the example: https://github.com/blai/grunt-express-exam

[2013-04-15 06:45] mic0331 commented on #11
@blai sorry for confusion.  Browser livereload is what i'm trying get working with my project but instead of dust i have a basic jade server side template.

When i include the line you mention

[code]

the browser does not enable the livereload pluggin, I have to manually click on the chrome "enable LiveReload" extension to get it working.

When i test the example i see the extension being switche

[2013-04-15 17:14] blai commented on #11
@mic0331 would you be able to put your sample app on git for me to take a look at? It could be something I did wrong somewhere.

[2013-04-15 17:44] mic0331 commented on #11
@blai I am travelling this week, I will create a sample project and share it with you as soon as I can (probably in one week).  Thanks for you help

[2013-04-19 22:43] CoffeeAndCode commented on #11
@blai Would exposing an array of middleware in the grunt options be a valid option?  You could expose a `middleware` method as well to fit with the connect example I guess.  Having a separate `server.js` file works just fine, it would just be nice to not require a separate server script just to add the livereload middleware.

[2013-04-19 22:55] CoffeeAndCode commented on #11
Of course, feel free to say "no" as well  :)
If it doesn't match with the direction of the library, creating a separate server script file works just fine.

I'm not sure why it automatically works with [grunt-express-server](https://github.com/ericclemmons/grunt-express-server) out of the box though...

[2013-04-19 23:28] blai commented on #11
@CoffeeAndCode would [`grunt-contrib-connect`](https://github.com/gruntjs/grunt-contrib-connect) fit your need better? I think I can enable livereolad by default, but I am afraid that not everyone would want this behavior. If I were to make it any option, there's the way you mentioned - accept a list of middleware, and there is the current implementation - accept a server script in a different fil

[2013-04-19 23:36] blai commented on #11
@CoffeeAndCode by the way, if you want to have different config for development/production env, I would suggest use this: http://expressjs.com/api.html#app.configure instead of multiple server script

[2013-04-20 03:59] CoffeeAndCode commented on #11
@blai you're probably right, @grunt-contrib-connect would probably be fine for me.

For this project, enabling it by default is probably not a good solution.  I'm not sure how the [grunt-express-server](https://github.com/ericclemmons/grunt-express-server) or [grunt-contrib-connect](https://github.com/gruntjs/grunt-contrib-connect) projects automatically integrate with livereload, but I might dig

[2013-04-20 05:10] blai commented on #11
From what I understand, `grunt-contrib-connct` does not care about server reloading, `grunt-express-server` does not accept a list of middleware either?

[2013-04-20 13:47] CoffeeAndCode commented on #11
You are correct sir.  `grunt-contrib-connect` uses the `middleware` option in grunt to set the livereload snippet and `grunt-express-server` requires the use of a server script.  Hope I didn't steal too much of your time  :)

[2013-04-21 01:31] blai commented on #11
I do hope to see a solution to this, thanks for offering another pair of eyes :)

[2013-04-24 23:02] CaryLandholt opened #12 "forever-monitor 1.2 breaks on Windows"
Starting up the server with version >=1.2 of forever-monitor results in a `Fatal error: spawn ENOENT` exception.

This happens on Windows but is fine on Mac.

Downgrading to 1.1 resolves the issue.

The breaking change was introduced here https://github.com/blai/grunt-express/commit/e430d8af41993138f67d515f69c0403cc8bb8c3a

thanks

[2013-04-24 23:12] blai commented on #12
@CaryLandholt thanks for reporting this, can you also file an issue with forever-monitor? If I remember correctly, there is something missing in forever-monitor 1.1 for this module to work properly in some cases.

[2013-04-24 23:22] CaryLandholt commented on #12
@blai I'll take a look at forever-monitor itself.

I also noticed that the forever-monitor CI job is currently failing.
https://travis-ci.org/nodejitsu/forever-monitor

Using the latest forever-monitor code may be a bit over confident.
https://github.com/blai/grunt-express/blob/master/package.json#L31

![image](https://f.cloud.github.com/assets/833972/422786/b8ee6da6-ad35-11e2-96c9-74c1c12db6ad.pn

[2013-04-25 16:30] blai commented on #12
@CaryLandholt I updated grunt-express to use forever-monitor v1.2.1 from npm (instead of GH), please let me know if the problem persist.

[2013-04-26 02:27] CaryLandholt commented on #12
Unfortunately no.  The problem exists once forever-monitor bumped to 1.2.
1.1 works, however.

[2013-05-03 23:12] darvelo commented on #11
I've got livereload working in my separate `server.js` file as in https://github.com/blai/grunt-express-example/blob/master/app/server.js#L22

I don't think exposing a middleware option would work for my case, since I'm using middleware to handle errors like 404 and 500, as shown in https://github.com/visionmedia/express/blob/master/examples/error-pages/index.js. Having middleware attached at the

[2013-05-03 23:46] blai commented on #11
@appleYaks Thanks. And I had similar finding as you did. At the moment, `grunt-contrib-livereload` has some hidden rules and developer would have to load the livereload middleware as early as possible for it to work. I tried the following and livereload would not function properly for any html files in 'public' folder:

[code]

But if I reverse the order like this then it would work:

[code]

Give

[2013-05-04 03:00] darvelo commented on #11
Well, today the `grunt-contrib-livereload` task was deprecated and absorbed into the `grunt-contrib-watch` task so this is pretty much a game-changer. See https://github.com/gruntjs/grunt-contrib-livereload/pull/43#issuecomment-17423423 for more info.

[2013-05-05 23:01] darvelo commented on #11
Just to expand on this a bit, the only way I could see you being able to inject middleware ahead of everything else is to have the user define their application entirely within a function, and pass in your `express()` instance into their application, like:

[code]

The user's `server.js` file would then have to be:

[code]

It might also be possible for you to create an `expess()` instance and pas

[2013-05-06 00:47] darvelo opened #13 "Support use of node-inspector with --debug"
If node is run with the `--debug` flag it'll allow a remote debugger like [node-inspector](https://github.com/dannycoates/node-inspector) to work (in this case with WebKit Inspector). I'm not sure if this is currently supported.. I see something about `debug-brk` in the Readme but I'm unclear as to if it's related. I tried using forever-monitor options with:

[code]

..but no joy. Not sure if I'm

[2013-05-06 02:49] blai commented on #13
if you put your `grunt-express` setting like following, you can debug from a remote debugger that is listening to port 5858

[code]

[2013-05-06 17:04] darvelo commented on #13
Thank you, kind sir.

[2013-05-06 17:04] #13 closed, assigned to nobody

[2013-05-20 20:19] Phoscur opened #14 "express-restart should be async"
I'm using grunt-contrib-watch and simplemocha

[code]

Sadly I can't test the server again after a restart, because simplemocha runs too early and doesn't wait for express-restart to finish. Please make it async and waiting for the server to restart.

[code]

[2013-05-21 01:11] blai commented on #14
@Phoscur can you please post your sample project on github so I can play with it? BTW, I am also working on a new version of `grunt-express` that would use `grunt-contrib-watch` internally (to replace forever monitor), when that is done, it may also fix this issue at once.

[2013-05-21 02:01] Phoscur commented on #14
I didn't get any forever monitor problems although I'm on windows 7 x64.

You shouldn't depend on grunt-contrib-watch, just integrate with it.

There is no `this.async()` in the express-restart task, could you add it?

[2013-05-21 05:20] #14 closed, assigned to nobody

[2013-05-21 19:57] Phoscur commented on #14
I don't see how this fixes the issue. This works as a keepalive, but you have to call done() after restarts are finished - or the next task (in my case simplemocha) will never run.

[2013-05-22 06:27] blai commented on #14
@Phoscur I see what you mean. Can you please try v0.3.6 to see if it takes care of your use case? thanks

[2013-05-24 15:53] Phoscur commented on #14
Still not working:

[code]

Do you still need my project to play with?

[2013-05-24 20:12] blai commented on #14
@Phoscur Grunt uses an outdated version of async, once they update to the latest this will work.

[2013-05-25 14:35] Phoscur commented on #14
Ah nice that explains those npm install errors.
Renaming node_modules/grunt/async is a temporary fix, as I have async as a main dependency anyways.

[2013-05-26 19:10] varunkumar opened #15 "Issue with serving image files"
Image files served with grunt-express look distorted. Any known issues? The same file looks alright when served from Yo's internal expres.

Node - v0.10.6
NPM - 1.2.21

[2013-05-27 04:29] varunkumar commented on #15
Closing this in favor of https://github.com/blai/grunt-express-example/issues/2

[2013-05-27 04:29] #15 closed, assigned to nobody

[2013-05-31 19:05] zzo opened #16 "setting NODE_ENV?"
howdy great module - ideas on how to set NODE_ENV environment variable?
Am using this to start my express server (using the 'server' property) for webdriver tests and I'd like to set NODE_ENV=test so my server can use a different db for these tests.
Code like this in my express server:
if ('test' == app.get('env')) {
  app.use(express.errorHandler());
  redis.select(15);
}

what do you think? than

[2013-06-01 00:57] blai commented on #16
@zzo yes, I do use `grunt-env` with `grunt-express` in my projects.

[2013-06-01 00:58] zzo commented on #16
k cool thx.
  Mark

On Fri, May 31, 2013 at 5:57 PM, Brian Lai notifications@github.com wrote:

[2013-06-01 05:22] #16 closed, assigned to nobody

[2013-06-09 13:11] Phoscur opened #17 "grunt express express-restart: spawn enoent"
also I'm having a problem with my single run. my simplemocha tests are currently failing on a requirejs require.
restarting the server on a watch runs the tests green though.

is the standard express task correctly doing its job asynchronously?

[2013-06-11 04:57] blai commented on #17
@Phoscur I might need more info on this, do you have an example somewhere I can play with?

[2013-06-11 10:52] Phoscur commented on #17
I don't know when I will find the time to extract that kind of sample project, can't you reproduce the title error with an empty project?

Here is my gruntfile

[code]

[2013-06-16 04:24] blai commented on #17
@Phoscur would it be the `async` dependency is out-of-date in grunt? If you upgrade your `async` module in grunt manually to 0.2.8, this would work. see https://github.com/gruntjs/grunt/pull/782

[2013-06-21 10:36] monobyte commented on #17
@blai, I have updated my Grunt async dependency to 0.2.8, but am still getting Fatal error: spawn ENOENT error when I try to launch an express task

Any other suggestions?

[2013-06-21 12:22] nabils commented on #12
Hi is there any update on this? Has anyone managed to find a workaround/fix? I am on the latest version and it is still looping forever on "Running "express-start" task" but only when I enable socket io by adding the line  "var io = socketIo.listen(server);" Thanks

[2013-06-22 20:55] blai commented on #12
we do not have much option here, I guess one way to fix this is not to use forever monitor at all.

[2013-06-22 20:56] blai commented on #17
@monobyte a sample app of your case would help me understand the problem better, thx

[2013-06-23 15:10] nabils commented on #12
Sorry I should have got back sooner. I actually managed to solve the issue. It was an error in my express application startup causing grunt-express to fail. It doesn't display the error and instead just repeats the "Running "express-start" task" message. Once I fixed the error it all seems to be working fine now in Windows.

[2013-06-30 21:26] maxov opened #18 "express-restart warning: object #<object> has no method 'each'"
First off, here's my rather simplistic Gruntfile.coffee(sorry if it is CoffeeScript, if anyone needs Javascript, I'll convert it for you):

[code]

When I run the task 'dev', the server starts, as you can imagine. However, when I start editing files like 'main.coffee', something freaks out and I get this as an output(a full log):

[code]

Not sure if this is a problem with my gruntfile or a proble

[2013-07-01 00:13] blai commented on #18
@gratimax this should the same issue as the one reported here: https://github.com/blai/grunt-express/issues/14#issuecomment-18413442, basically, if you manually update the `lodash` dependency to 0.2.8 for the local `grunt`, then the problem will go away.

[2013-07-09 14:43] Phoscur opened #19 "express-start should not suppress errors (add Logging)"
server.js
`throw new Error()`

[code]

[2013-07-09 17:13] blai commented on #19
@Phoscur I am not sure if I understand the case as well as the bug itself. Are you having a server.js that throws error? And what is the recommended fix from your perspective.

[2013-07-09 20:58] JackMorrissey commented on #19
@Phoscur We just solved an error that was giving us this same problem. Turns out we had a javascript error in our server file as well. I'm not sure anything can be done to prevent this error, but at least it's documented so any future travelers will save on some debugging time.

[2013-07-09 22:33] blai commented on #19
any suggestions, guys? I don't want to leave anyone hanging, if I can solve this problem.

[2013-07-11 00:33] Phoscur commented on #19
So, first of all, it should display an error instead of just trying to restart again. Preferably the error the server has thrown.
When grunt-express should be used in production, it should rather log errors to a file, but that can be done an other way...
Question is what should happen on restart error? Best would be to display the error and leave the last version of the server running, but you pro

[2013-07-16 18:04] blai commented on #12
please try the grunt-express v1.0 beta to see if it works better

[2013-07-18 19:28] blai commented on #19
Please try v1.0 beta and see if it fits your use cases better

[2013-07-19 16:47] blai commented on #11
v1.0 supports livereload through grunt-contrib-watch

[2013-07-19 16:47] #11 closed, assigned to nobody

[2013-07-19 16:47] #12 closed, assigned to nobody

[2013-07-19 16:48] blai commented on #18
v1.0 directly depend on lodash and this is no longer an issue

[2013-07-19 16:48] #18 closed, assigned to nobody

[2013-07-26 04:51] claydiffrient opened #21 "Serverreload failure"
Whenever `serverreload` is set to true, express fails to start.  The console just says `Running "watch" task` with `Waiting...` printed below that.  When I comment it out, express starts just fine, but won't reload my changes to server files.

This is my Gruntfile: https://gist.github.com/claydiffrient/6086340

[2013-07-26 05:25] blai commented on #21
I am trying to identify the problem, does switching the order of `grunt.watch` and `grunt.express` like https://gist.github.com/blai/6086504 (a fork of your gist) help solve the problem?

[2013-07-26 05:37] claydiffrient commented on #21
Nope.  It does the same thing.

[2013-07-26 05:38] blai commented on #21
It would be very helpful if you can trim down your project structure and put it in plunker/jsfiddle.

[2013-07-26 05:43] claydiffrient commented on #21
That could take a bit.  I'll work on it for you though.  How much of the project do you want to see?

[2013-07-26 05:44] blai commented on #21
enough to reproduce the problem, or if the project is open source, just the github link would do

[2013-07-26 05:57] claydiffrient commented on #21
http://plnkr.co/shz7yc I couldn't reduce it down more than that.  It also since this is mostly a server focused issue, I suppose the file you want to look at is probably index.js

[2013-07-26 06:31] blai commented on #21
I forked it http://plnkr.co/edit/6ecnyf, but I had to comment out a few line near the bottom of your index.js (since I do not have those file structure, and I do not have a mongodb running per your config). And the server started (and will restart if I change index.js).

Considering your `./server/routes`, `./models/Event`, `./models/User` are just typical node.js modules that does not do much mor

[2013-07-27 03:58] blai commented on #21
verify this is just a local issue, closing this.

[2013-07-27 03:58] #21 closed, assigned to nobody

[2013-07-27 03:58] #19 closed, assigned to nobody

[2013-07-27 03:58] #17 closed, assigned to nobody

[2013-07-27 03:58] blai commented on #17
this should work in v1.0

[2013-08-04 05:51] dremonkey opened #22 "Odd serverreload behaviour"
I am having problems making 'serverreload' work consistently. On start up it seems to work fine. It watches my files and restarts the server when it detects a change. However after happening the first time, it fails to restart again because the "Port is in use by another process". As best as I can tell, that process is the express webserver previously started grunt-express.

From the console outpu

[2013-08-04 06:06] blai commented on #22
@dremonkey so i looked into your `server.js` and found that you are trying to attach a connect-livereload using similar technique as I used in grunt-express itself for the case of `livereload: true`. The problem is that `connect-livereload` was not designed to be restarted along with the express server, as it starts the livereload server in yet another child process, which is not managed by grunt.

[2013-08-04 06:22] dremonkey commented on #22
@blai Thanks for the quick replay. I hadn't considered livereload as being the culprit. I implemented that part before I realized that grunt-express had that functionality built in.

....

Anyway just tried removing it, and testing with and without setting `livereload:true` in the options. Unfortunately I am still getting the same error.

[2013-08-04 16:10] blai commented on #22
@dremonkey sorry that I miss understood the problem before replying you, I tried the app now and saw it is indeed the express port being used while restart is trying ti happen. I had this problem myself when developing the tool initially. The problem turns out to be a bug in `grunt-contrib-watch`, where it's `interrupt` feature can only happen once. I later put in this fix: https://github.com/grun

[2013-08-04 16:10] #22 closed, assigned to nobody

[2013-08-04 19:20] dremonkey commented on #22
Works like a charm. Thanks for the help @blai.

[2013-08-08 08:00] atian25 opened #23 "bases don't support string"
it's a bug

[2013-08-09 04:14] filod opened #24 "Any suggestions for `socket.io` + `express` use cases?"
`util.runServer` seems difficultly to compatible with `socket.io` ?

[2013-08-09 18:23] blai commented on #23
@atian25 It does support string, can you share your specific use case so we can help debug the issue?

[2013-08-09 18:23] blai commented on #24
@filod Do you have a same of your setup so I can look into the issue? Thanks.

[2013-08-10 02:46] filod commented on #24
I setup `socket.io` like this:

[code]

I think this could be really hack, & `livereload` didn't work too.

if I do this :

[code]

`/socket.io/*` can't be routed 。

I think `grunt-express` maybe should offer more control for users?

_ps, sorry for my poor english :)_

[2013-08-10 04:25] blai commented on #24
ok, I will look into it. And I can read Chinese if that's more comfortable for you to type :)

[2013-08-10 06:47] filod commented on #24
真的？赞！

[2013-08-10 06:55] atian25 commented on #23
yes, I saw the source say: `bases: null, // string|array of each static folders` ,  but the below code don't support .

[2013-08-12 05:07] blai commented on #23
@atian25 did you forget to post the code that does work?

[2013-08-12 16:24] blai commented on #24
@filod here's a really simply express server with socket.io support that would work with grunt-express:

[code]

[2013-08-15 01:52] ghost opened #25 "Add support for flags to be passed to node, such as --harmony or --harmony-generators"
Currently I see no way to use this if I need to pass along those flags when I'm working on the unstable branch of node. 0.11.x, is there a way or can a way be added to pass such a flag through?

[2013-08-15 04:06] blai commented on #25
Sure, and good suggestion. Any particular way you would like the configuration look like?

[2013-08-15 12:51] ghost commented on #25
How about just adding another entry to options such as flags?

   express: {  // grunt-express
      server: {
        options: {
          flags: '--harmony-generators'
        }
      }
    }

[2013-08-15 18:32] blai commented on #25
@dariusriggins I forgot one thing, since `grunt-exress` v1.0 uses `grunt-contrib-watch` internally, it means that any node params you used to run the grunt task itself will get forwarded to the execution of express task itself.

I believe you can just run `grunt express --harmony-generators` and you will get what you want. Would you mind give that a try? When that might work, do you think it still

[2013-08-15 19:11] ghost commented on #25
That did not work. It didn't recognize the code using the generators. Also tried prepending it to the server part, but since that's just doing a require that doesn't work either.

[2013-08-15 23:01] blai commented on #25
np, I will try to work on what you have suggested. By any chance, do you have a sample setup of a harmony ready project I can play with?

[2013-08-15 23:06] ghost commented on #25
This is what I'm using right now to just test to see if it parses, I can give you a more complex example if you really need it though.

[code]

[2013-08-16 22:05] blai commented on #25
Seems like this only happens in node v0.11, in v0.10, it does pass on the node params. Will continue looking into this.

[2013-08-16 22:20] ghost commented on #25
That's odd, thanks for looking into this.

[2013-08-20 00:43] blai commented on #25
@dariusriggins hope this helps: https://github.com/gruntjs/grunt/pull/877

[2013-08-20 00:44] blai commented on #24
@filod I will close this for now, please reopen if my example above didn't work for you

[2013-08-20 00:44] #24 closed, assigned to nobody

[2013-08-20 02:30] ghost commented on #25
Awesome, many thanks!

[2013-08-20 02:44] filod commented on #24
Thx a lot.

Actually, i did the same like U, but I haven't figure out why `livereload` not work

[2013-08-20 07:41] blai commented on #24
@filod if you can extra the files to help me reproduce your problem, I can look into it.

[2013-08-20 15:51] iancrowther commented on #16
good shout on the grunt-end

many thanks

[2013-09-06 04:13] pilwon opened #28 ""path must be a string" error"
I'm the author of [ultimate-seed](https://github.com/pilwon/ultimate-seed) that uses `grunt-express`.

It has worked great up to v0.3.6 of `grunt-express`, but v1.0.1 fails with the following error message whenever I touch an express server file:

[code]

[2013-09-06 04:28] blai commented on #28
How do I recreate it? Do I just generate a project with the latest version of `ultimate-seed`?

[2013-09-06 04:35] pilwon commented on #28
@blai You need to have local mongodb and redis servers running on default ports and have bower installed.

[code]

[2013-09-06 04:41] blai commented on #28
Will look into it. Please do a pull request if you have better luck then I do :)

[2013-09-06 04:47] pilwon commented on #28
Thanks @blai, will do. Also, do you know how I could call `open` task after `express` task when `serverreload` is enabled in the latest version of `grunt-express`? I expected grunt would handle the `this.async()` case but `open` apparently fires before an express server is started. Because of that I initially see page not found but when I refresh the page after few seconds it works. Do you know an

[2013-09-06 04:47] blai commented on #28
I got this error when running `grunt` after generating a project with `yo ultimate`:

[code]

am I missing anything. I had both mongodb and redis started

[2013-09-06 04:49] pilwon commented on #28
@blai Please try with my instruction above since yeoman generator is little bit out of date. Also when you see that message again, try running again with `node server` instead of `grunt`. It'll give more clues why it failed.

[2013-09-06 04:50] blai commented on #28
for the `open` issue, I am working on it (see: https://github.com/jsoverson/grunt-open/pull/9). But I think it might end up duplicating what `grunt-contrib-connect` would do to fix the same issue by directly calling `node-open` (see https://github.com/yeoman/yeoman/issues/1170#issuecomment-23902029)

[2013-09-06 04:50] pilwon commented on #28
@blai :+1:

(Just updated yeoman generator as well.)

[2013-09-06 05:04] blai commented on #28
`node server` gives me something similar (end of log):

[code]

[2013-09-06 05:12] pilwon commented on #28
@blai Hmm, this is first time seeing this message. I just googled this error and found this:

<blockquote>
This usually happens when you install a package using one version of Node, then change to a different version. This can happen when you update Node, or switch to a different version with nvm.
It can also happen if you're trying to run a process as root with a globally installed Node, but you'

[2013-09-06 05:30] blai commented on #28
`npm rebuild` did not help. will continue looking

[2013-09-06 05:46] pilwon commented on #28
@blai Since `bcrypt` showed the error, I've just updated `ultimate-seed` to use [native node.js implementation version of bcrypt](https://github.com/pilwon/ultimate-seed/commit/d60e2535d23388fb1d888303744052036c131b3a).

[2013-09-06 06:03] blai commented on #28
I actually got passed that. I use `nvm`, so just update to latest `v0.10.18` and go things running, but seeing this:

[code]

localhost:3000 does not show anything.

[2013-09-06 06:05] pilwon commented on #28
@blai Great, that is an easy one. You probably occupied port 3000 while trying to resolve the earlier issue. Free the port, or just simply specify any free port: `$ PORT=3001 grunt`

[2013-09-06 06:07] blai commented on #28
yep, just found the issue too. I was able to make the restart working actually, with the option `serverreload` set to `true`, will do a PR now.

[2013-09-06 06:08] pilwon commented on #28
@blai :+1: :+1: :+1:

[2013-09-06 06:13] blai commented on #28
Also take note that `TypeError: path must be a string` are sometimes caused by out-dated tools such as `grunt`, `yeoman`.

[2013-09-06 06:16] pilwon commented on #28
@blai I use the latest versions of those tools:
- grunt-cli v0.1.9
- grunt v0.4.1
- yo v1.0.4

[2013-09-07 22:27] vvolodin commented on #28
I've had to deal with this error too today. I've used generator-meanstack to bootstrap my project. 'grunt server' worked fine until the first file modification - was throwing 'TypeError: path must be a string'.

grunt-express/express.js starts its task on line 90:
`grunt.task.run(['express-server', thisTarget].join(':'));`

But then on line 110 it expects a second argument:
`util.touchFile(self.ar

[2013-09-08 05:16] #28 closed, assigned to nobody

[2013-09-10 15:21] ideriabin opened #30 "express-restart doesn't work, no target specified"
I'm trying to manually reload Express server with `express-restart` task.
Here's my `Gruntfile.js`:

[code]

So, there's no need for `express-keepalive` here, because `watch` task keeps server from shutting down. After running `default` task and making some changes to the server files:

[code]

The server doesn't restart, because:

[code]

So, `express-start` task doesn't receive the destination t

[2013-09-10 23:37] blai commented on #30
@rodweb Maybe I miss an important point on the documentation, the current design was to support `express-start` and `express-restart` only when you set `serverreload` to true. The original idea was that if you do not define `serverreload` to be `true`, your server is meant to be started only once and it is started right at the moment you invoke `express`. I hope this make sense. Please comment.

[2013-09-11 07:28] #23 closed, assigned to nobody

[2013-09-11 11:06] ideriabin commented on #30
@blai I thought that with `serverreload: true` you won't need to restart server manually.
The reason of why I started all this is because I was trying to run `grunt-express` and `grunt-contrib-watch` in a single grunt task, but with `serverreload: true` watch tasks aren't running because of `express-keepalive` :blush:

[2013-09-11 20:36] azhang opened #31 "livereload option doesn't inject livereload script for static files"
It is not injecting the livereload script into files that are listed in the `bases` option. When I use grunt-contrib-connect with connect-livereload and use the livereload middleware in connect options, the static files do get the livereload script injected successfully.
Alternatively, I tried to set middleware option in grunt-express, but it gives me the error

[code]

For reference, I tried to u

[2013-09-11 20:45] azhang commented on #30
+1 I just encountered the same problem. I'd like to run `grunt-contrib-watch` to compile frontend javascript while having the server reload automatically when I change Express backend code.

[2013-09-11 21:03] blai commented on #30
@rodweb Under the hood `grunt-express` creates a `watch` task (for you, at runtime) to watch for changes of any server files you are changing (when you set `serverreload` to `true`). In case if you already define a `watch` task (and since `grunt-contrib-watch` is a multitask) as sub-`watch` task will be created for you (and it will append `watch` task command to the end of the grunt command if you

[2013-09-11 21:14] azhang commented on #31
Ok, I figured it out. express.compress middleware breaks this.

Essentially, the `livereload` middleware must be loaded AFTER `express.compress`. If `livereload` is loaded prior to `compress`, it does nothing. However, I'm still not sure why the `middleware` option is causing the error above.

Also, is there a way to specify where grunt-express automatically injects the `connect-livereload` script

[2013-09-11 21:32] blai commented on #31
@aaronz8 Right now `livereload` middleware is injected at top of the express middleware stack (I did that by rearranging the middleware by priority and livereload was blindly assigned a priority of -1 https://github.com/blai/grunt-express/blob/master/lib/util.js#L159). I was a bit lazy when I first put this together since if I put livereload middleware at top, it seems to be good for most cases.

[2013-09-15 13:30] vvolodin opened #32 "Can't get livereload and serverreload to work"
I'm setting both settting to true, here's my grunt config:

[code]

Changing anything in models directory doesn't do anything, thought watch tasks (when run verbose) says it's monitoring them. I've debugged and found out the watch fires but isn't interrupting any tasks because serverreload and livereload are in the same queue and livereload has interrupt set to false both tasks are not interrupted

[2013-09-16 04:18] azhang commented on #31
Sorry about the slow response, as I have not had a chance to debug the middleware issue yet (I've just commented out my `express.compress` to continue). If you do decide to add this feature,  I _think_ the 2nd way would cover all cases, without adding more complexity to the user so I'd go with that one over option 1.
Thanks for all your help!

[2013-09-16 21:25] blai commented on #32
@vvolodin Since I am using this myself and did not see such problem, I would need your help putting up a sample project of your setup to showcase the problem.

[2013-09-17 01:57] nicolazj commented on #32
i have the same problem. the static file server works ,but livereload doesnt.

folder:
projectxxx
|=app
|==index.html
|=Gruntfile.js

Gruntfile.js:
module.exports = function (grunt) {
    // load all grunt tasks
    require('load-grunt-tasks')(grunt);

[code]

};

anyone could help?

[2013-09-17 23:03] blai commented on #32
Looks like I can reproduce the problem now, fix on its way

[2013-09-20 16:28] ehynds commented on #32
+1

[2013-09-24 19:00] marplesoft commented on #30
+1 from me too. I'd like to use my own watch task and then restart express when files change.

[2013-09-26 08:03] FloNeu commented on #12
Like nablis i got the repeated express-start task. Also solved it by fixing an error in my express-application. Is there any way that grunt-express doesn't swallow the error messages coming from express?

[2013-09-26 08:22] timsuchanek commented on #12
You can use `showStack: true`, then the whole stack of the error message will be shown

[2013-09-26 16:26] joelbowen commented on #32
+1

[2013-09-27 16:42] eirslett commented on #32
+1

[2013-09-29 07:33] kingcody commented on #32
Anyone have a direction on this one? Seems to be injecting properly on statically served content however I can't get it to inject on rendered views. Perhaps I'm having a different issue?

[2013-09-30 20:31] #32 closed, assigned to timsuchanek

[2013-10-05 07:12] dashed opened #33 "Possible to get directory listing?"
Would it be possible to get directory listing?

[2013-10-05 07:40] timsuchanek commented on #33
In which form do you mean it? On startup in the terminal as a tree? What's your use case?

[2013-10-05 07:42] dashed commented on #33
To clarify, if I were to browse to a directory, I'd like to get the directory listing.

Something along the lines of the following option: https://github.com/gruntjs/grunt-contrib-connect#directory

[2013-10-05 10:52] timsuchanek commented on #33
Ahh, ok I understand :-) Working on it

[2013-10-05 22:41] blai commented on #33
we had this before, but then got removed https://github.com/hmalphettes/grunt-express/commit/d507d373bfc58a387e7348226644163c33ff6fd2. I think it may make better sense to do it as an option, or use `middleware` to make this work.

[2013-10-05 22:47] dashed commented on #33
Maybe perhaps have a `directory` option in the same form as `bases`, much how grunt-contrib-connect has it?

Something like this after each `options.bases` has been iterated:

[code]

[2013-10-07 21:54] timsuchanek commented on #30
@marplesoft & @rodweb  I'm using the following grunt config (based on [generator-angular](https://github.com/yeoman/generator-angular)) to accomplish serverreload with a custom watch task:

[code]

So it is important to run it with concurrent AND to remove the watch:livereload task.

[2013-10-07 21:54] #30 closed, assigned to nobody

[2013-10-11 17:28] colthreepv opened #34 "Multitask is not really a multitask"
I'm sorry to bother, this is an issue of technical nature.

Using your plugin as such:

[code]

I can't get to run **both** servers with `grunt express`.
This will require a multiple child process, and a lot of technical work, but is it on the plans ?

[2013-10-11 22:41] blai commented on #34
@mrgamer this should be a supported feature, could have been broken due to other bug fixes though, will check on it.

[2013-10-15 19:56] davecap opened #35 "Cant seem to define a wildcard route in custom express server"
If I do something like this:

var express = require('express'),
    app = express(),
    server = require('http').createServer(app);

app.get('*', function (req, res) {
  res.sendfile(__dirname + '/dist/index.html');
});

exports = module.exports = server;
exports.use = function() {
  app.use.apply(app, arguments);
};

It serves index.html for everything, even static files.

[2013-10-15 20:28] davecap commented on #35
Fixed it by adding:
app.use('/static', express.static(__dirname + '/dist/static'));
before the /\* route.

[2013-10-15 20:28] #35 closed, assigned to nobody

[2013-10-26 04:37] raitucarp opened #36 "Serverreload don't work"
Hi, maybe I'm noob here, I use grunt-express with yeoman angular, serverreload dont't work. this is my configuration

`express: {
     options: {
        port: 9000,
        // Change this to '0.0.0.0' to access the server from outside.
        hostname: 'localhost',
      },
      livereload: {
        options: {
            server: path.resolve('./app.js'),
            serverreload: true,

[2013-10-29 00:28] tauren opened #37 "Server reload works first time, but not subsequent times"
I have the following Gruntfile config:

[code]

Running `grunt foo`, and then hitting an endpoint, produces the following output:

[code]

Next I change the server code to output `post dataXYZ` and save the file, wait a few seconds, then hit the endpoint again. The following is output:

[code]

That works perfectly! So I edit the `server/index.js` file again, changing it to say `post data`, save,

[2013-10-29 02:38] blai commented on #36
Are the files changed (in `routes/` dir) being used by your `./app.js` (i.e. your server script)?

[2013-10-29 02:48] raitucarp commented on #36
yes, as usual as default app.js expressjs.

ps: I am windows user

[2013-10-30 03:57] tauren commented on #37
Furthermore, it appears that livereload doesn't work when `serverreload: true`. By removing the serverreload config option, then livereload starts working again.

[2013-10-30 03:59] tauren commented on #37
Perhaps this is related to #36. Note that I'm having troubles on OSX. My server is a single JS file in `server/index.js`.

[2013-10-30 04:47] blai commented on #36
this could have been introduced by a recent bug fix, i will look into it.

[2013-10-30 15:59] garytryan opened #38 "Failed to download and install"
After trying to install this package the console logged out the following:

npm ERR! Failed to parse json
npm ERR! Unexpected token }
npm ERR! Failed to parse package.json data.
npm ERR! package.json must be actual JSON, not just JavaScript.
npm ERR!
npm ERR! This is not a bug in npm.
npm ERR! Tell the package author to fix their package.json file. JSON.parse

Hope this is helpful

[2013-10-30 16:02] garytryan commented on #38
Apologies, I didn't read this properly. My bad! Please close this!!!

[2013-11-05 00:06] tybenz opened #39 "EADDRINUSE"
Using final example in README. The first time I save a change to my server file, it works. The second time, I get this:

[code]

Any ideas?

[2013-11-06 18:32] benjaminkitt commented on #13
Is this option still available?  It isn't working for me...

[2013-11-07 16:23] olanod opened #40 "Mount point for directories in 'bases' option"
In express we can 'mount' a directory on a base URL giving two arguments to the `app.use` function, for example:

[code]

`bases` could be an object as well or the array components of `bases` could be an array with two elements.

[code]

[2013-11-18 18:04] #39 closed, assigned to nobody

[2013-11-18 18:09] tybenz opened #41 "Port 3000 in use"
This is my [gruntfile](https://gist.github.com/tybenz/7532427)

I'm running `grunt` from the command line and I get an express server started on port 3000.

I save a change to app.js and I see this:

[code]

Then, I save another change to app.js and get this:

[code]

This happens to me every time, on the second save to app.js

It seems that the express app at 3000 is still up when the grunt task

[2013-11-18 18:09] tybenz commented on #39
Not seeing this error anymore. But I am still having a problem: #41

[2013-11-22 06:16] henrytao-me commented on #30
I have an issue with serverreload = true. Grunt-express said "Port 9001 in use" and then it automatically changed to port 9002. If I change server file content again, port 9003 will be used.

Please help.

[2013-11-27 16:04] iki commented on #36
The auto-generated `watch:express_target_server` task only watches the tempfile, not server sources, see https://github.com/tomaash/trackr/pull/1 for sample temporary workaround (try with `grunt server --debug`).

[2013-12-03 12:04] uschen commented on #41
same here

[2013-12-05 23:23] #38 closed, assigned to nobody

[2013-12-05 23:26] blai commented on #13
No, since 1.0 `grunt-express` uses `grunt-contrib-watch` to manage the server (and its start/stop), so you no longer need to use something like `debug-brk`, you simply set the `spawn` to false (so the server is run in the same process of the grunt itself) and your breakpoint would work.

[2013-12-24 09:35] scottlet opened #42 "Using livereload and serverreload causes no server to run"
[code]

If I add serverreload (as above) I get no notification of a server running and indeed when I hit localhost:9000 I get nothing.
Removing the serverreload: true option and it works OK.

With:

<pre>Running "express:all" (express) task

Running "parallel:express_all_server" (parallel) task
Running "express-watch-server:all:/var/folders/rs/9y2zb6yx15g179jny_hxdj0h0000gn/T/express1131124-11925-

[2013-12-27 10:02] ghost commented on #41
had the same problem. in my main js file i removed the following line:

app.listen(3000);

its probably because grunt-express calls the listen method for you when you run the grunt task

[2013-12-28 09:37] joakimbeng commented on #42
How does your `mtairport.js` look like? It seems like it's starting an Express server on port 5554 (from your output):

You shouldn't have any `app.listen` statement in your server file, if that is the case.

[2014-01-06 09:54] atian25 opened #43 "Could I map 2 folder as one path?"
I want to set 2 base:
`/images/`
`/publish/images/`

all of them is mapping to  `http://localhost/may_be_some_path/images_another_name/`

[2014-01-09 03:59] atian25 opened #44 "can't livereload , did I miss something?"
**grunt config:**
[code]

**browser response:**
[code]

[2014-01-14 01:07] blai commented on #43
What you can do is to merge the content of the two (using `grunt`) into a temp folder before starting the express server, and have your express server mount that temp folder. Express itself does not do this.

[2014-01-14 01:07] #43 closed, assigned to nobody

[2014-01-18 00:33] hatelove85911 commented on #42
I have the exact same issue as scottbert.

Here's my gruntfile.js express part:

[code]

and this is my app.js:

[code]

After comment out serverreload, everything works fine.

[2014-01-22 22:12] iladarsda opened #45 "Creating an API - integrating with node-restful (https://github.com/baugarten/node-restful)"
Is it possible to make grunt-express work with some 'classic' express extensions to create an API; e.g. node-restful APIs (https://github.com/baugarten/node-restful)?

For example below is what my current app.js file looks file, but this would not work when loaded through `script: '/path/to/app.js`

Any suggestion much appreciated.

[code]

[2014-01-28 07:07] puncha opened #46 "Object #<Object> has no method 'on'"
If I set the "server" property to an external JS file which only exposes two functions as document says: run and listen. Grunt will report such error.

So I think the document should be updated since we requires actually four functions:
- run
- listen
- on
- emit

[2014-02-09 16:50] fredericgrati commented on #30
@henrytao-me, I have the same issue. Have you find a solution ? :)

I also tried to fake it but impossible to restart the server with modified js file.

I set livereload, serverreload to false and call 'express-restart' into my watch task. I have the following result :
If the modified file is a template Then it's work, after the livereaload, I can see the modification.
If the modified file is a .j

[2014-02-10 01:13] henrytao-me commented on #30
Hi @freuh, I still haven't found the solution for grunt-express yet. (tried many cheats already). It still open another port.

At the moment, I create another grunt task like: grunt server:nobuild which just run express server with the previous build (no need to rebuild all js, less files). Every time I change server code, I stop the server and run that task.

[2014-02-17 05:07] bguiz commented on #44
Not sure if this is related, but when I add grunt-express, using this diff:
https://gist.github.com/bguiz/9042855

... the `watch` task/ `livereload` task doesn't appear to detect that code has changed in the specified folders. As far as I can tell, the watch doesn't get triggered, and thus livereload doesn't get called.

@atian25 Did you have any luck with your problem?

[2014-02-17 08:37] atian25 commented on #44
@bguiz  sad, I can got watch trigger log at console, so it may not be the problem with `watch`

[2014-02-17 08:49] bguiz commented on #44
Hmm, can you show me your grunt file @TZ ?
On 17 Feb 2014 19:37, "TZ" notifications@github.com wrote:

[2014-02-17 09:05] atian25 commented on #44
just as the upon code

[2014-02-17 09:28] bguiz commented on #44
Ok. Could you post a gist with your grunt file and package.json? Perhaps
I've missed something
On 17 Feb 2014 20:05, "TZ" notifications@github.com wrote:

[2014-02-17 09:42] atian25 commented on #44
here you are: https://gist.github.com/atian25/9047610
and I'm sorry, it's too long ago and forgot.
now found it is the problem of `can't trigger watch`

[2014-02-17 11:46] bguiz commented on #44
I don't get any `cannot trigger watch` errors myself. I simply get some
similar console output to yours, and no response (nothing triggered) when
SASS/ JS/ HTML files get changed.

It may be a conflict with different versions of npm modules. Any chance you
could add your `package.json` to the gist?

On 17 February 2014 20:42, TZ notifications@github.com wrote:

[2014-02-17 12:11] atian25 commented on #44
yes, I had update it with :
1. the log of `npm list` : https://gist.github.com/atian25/9047610#file-npm-list
2. tree of `project directory`: https://gist.github.com/atian25/9047610#file-tree
3. `package.json` : https://gist.github.com/atian25/9047610#file-package-json

[2014-02-18 02:35] bguiz commented on #44
@atian25 Thanks for that - I have had a squiz, the only difference is that you are using Grunt 0.4.2, and I am using 0.4.1. I tried 0.4.2, and it didn't make any difference for my project. When I remove `grunt-express` and reinstate `connect` (which is what controlled `livereload` previously), the `watch` and `livereload` grunt tasks get triggered correctly once more.

@blai tl;dr=`livereload` and

[2014-03-12 16:44] seglo opened #47 "Server does not reload when changes made to express server script"
Hi,

I'm using grunt-express to mock out an API.  I'm running the server with a local express server I called 'mock-api.js'.  A watch task is run, but it doesn't pick up changes I save to 'mock-api.js'.  I'm using the serverreload: true option.

My grunt file

[code]

mock-api.js

[code]

Console output when running 'grunt'

[code]

[2014-03-22 16:57] mccool commented on #37
I'm having the same issue where the server reload does not stop the server running so it puts it on the next open port. The connect 3.0 messages are coming from express. The express 4.x doc states "As of 4.x, Express no longer depends on Connect. All of Express' previously included middleware are now in separate repos. Please view the list of middleware. The only included middleware is now express

[2014-03-29 19:05] ghost commented on #37
I'm having the same problem here. First reload works then next port is assigned. Reload works then next ports is assigned...

[2014-03-31 23:05] amctammany opened #49 "livereload overrides existing watches"
I'm running an Express server through my own yeoman generator using grunt-express.   I set a watch for Stylus files as such

[code]

The stylus task works normally when called.

My issue is when I set livereload to true in my express task, the watch it creates overrides the watch I made for stylus files.  In my server logs I can see that the .styl file has been modified, but it just reloads it and

[2014-04-01 00:41] amctammany commented on #49
I solved my own problem by removing the `livereload` option from my grunt-express task and set up my own livereload watch using the `livereload` option provided by grunt-watch and adding the livereload script to my webpage.  I still think this it's an issue that grunt-express takes precedence over all other `watch` calls, but that's just my $0.02.

[2014-04-05 08:41] hamsterbacke23 commented on #42
same problem, my gruntfile looks the same as from @hatelove85911
(mean generator?)

[2014-04-12 16:55] mmarzec opened #50 "Is it possible to use grunt-connect-proxy with grunt-express?"
I have separate backend server to provide API. I wanted to use it by setting proxy on grunt server.

My configuration is like:

[code]

I end up with having spawned two separate servers:

[code]

[2014-04-19 23:13] siddhion opened #51 "grunt-express giving me multiple errors and SASS not compiling"
I started a Foundation 5 project and added `grunt-express` to my `Gruntfile.js`. Here is what it looks like:

[code]

And so when I run `grunt-server` all seems well on the command line

[code]

One problem in the browser is that the `app.css` file is not getting served however I see that the `app.scss` is getting compiled into `app.css`.

The other bigger problem is when I refresh my browser I se

[2014-04-20 11:11] JuoCode commented on #47
[code]

This is my gruntfile，try it

[2014-04-22 16:22] srigi opened #52 "Not serving when run via grunt-cocurent"
Here is relevant configuration (inspired by `yo generator-angular`):

[code]

In this setup, when ran as `grunt`, Navigating to `localhost:9000` results to _page not available_ in the browser.
When I run the same `Gruntfile` as `grunt express:dev watch` (not using concurent), everything is fine.

[2014-04-23 14:42] srigi commented on #37
Same here. This needs to be fixed, otherwise developments is just pain.

[2014-04-28 20:48] voidcontext commented on #41
I have the same problem, except my app doesn't call `app.listen()`, but uses express4... Is there any solution?

[2014-04-29 22:39] jcreamer898 commented on #31
I'm currently having difficult getting the livereload script to load also...

My gruntfile is setup like this...

[code]

And, there's no livereload script when I view the source at localhost:9000.

[2014-04-30 07:15] blai commented on #49
Yes, indeed. `grunt-express` uses `grunt-contrib-watch` (by setting up dynamic sub-tasks under `watch`) to perform both `serverreload` and `livereload`. The problem is that `grunt-contrib-watch` has [this logic](https://github.com/gruntjs/grunt-contrib-watch/blob/master/tasks/lib/taskrunner.js#L175-L190) that would basically executes queued tasks sequentially, and in our case, the `serverreload` c

[2014-04-30 07:16] blai commented on #47
should be fixed now in `v1.3.0`

[2014-04-30 07:16] #47 closed, assigned to nobody

[2014-04-30 07:21] blai commented on #44
`livereload` and `serverreload` may not work in parallel with the latest `grunt-contrib-watch`, as `watch` is trying to wait for a task to complete before it goes to next: https://github.com/gruntjs/grunt-contrib-watch/blob/master/tasks/lib/taskrunner.js#L175-L190. To help you understand the problem, https://github.com/gruntjs/grunt-contrib-watch/issues/240 has the same problem. I personally think

[2014-04-30 07:22] #36 closed, assigned to nobody

[2014-04-30 07:32] blai commented on #41
@voidcontext can you try v1.3 and see if it works with express4?

[2014-04-30 07:32] #41 closed, assigned to nobody

[2014-04-30 07:41] blai commented on #51
It is unclear to me why those error message would come up, but would you mind trying the updated version of grunt-express to see if it helps?

[2014-04-30 09:24] AntonTimiskov opened #53 "1.3.0 version got missed dependency "lodash" in package.json"

[2014-04-30 09:52] borlaym opened #54 "Latest release is missing lodash from package.json"

[2014-04-30 09:53] #54 closed, assigned to nobody

[2014-04-30 10:26] WardMe commented on #53
I have the same problem:

[code]

[2014-04-30 13:24] voidcontext commented on #41
@blai I tested it but it didn't worked as mentioned in #53... Sorry but at the moment I don't have enough time to fix it and create a pull request...

[2014-04-30 13:45] goodlaff commented on #53
the last commit has removed lodash from the list of dependencies in package.json and this is causing loading error for express and failure of subsequent grunt tasks.
...
 "dependencies": {
 ...
    "lodash": "~1.3.1",
...
  },

i fixed by adding the reference back in and manually adding the lodash package to the ..\grunt-express\node_modules directory (copy from ..\grunt\node_modules..)

[2014-05-01 18:27] #53 closed, assigned to nobody

[2014-05-04 20:59] hildjj opened #56 "Update livereload version, please"
You're pinned to 0.2, and 0.4 has a bug fix I need.  (I mean [connect-livereload](https://github.com/intesso/connect-livereload/), obviously)

[2014-05-05 05:36] blai commented on #56
done

[2014-05-05 05:36] #56 closed, assigned to nobody

[2014-05-06 20:25] p3rh5g commented on #41
I also have this problem. I have some problems with serverreload and livereload and I'm using my own watches and runs grunt with "grunt express watch". In my watch I run express-restart.

I have it configured to use port 8000. When express-restart has run, the port is in use and the server starts on port 8001. After that, port 8001 is used even after express-restart has run several times.

I'm usi

[2014-05-07 13:33] jrdn91 opened #57 "can't get livereload to work without turning on the browser plugin"
I followed this blog post here to get watch and express to work together...

http://rhumaric.com/2013/07/renewing-the-grunt-livereload-magic/

But I can't get livereload to work unless I turn on the browser plugin which I managed to have installed before this. But I would like it to work without the plugin and I thought that express did that by default.

I have the exact same grunt file and packag

[2014-05-08 18:42] jrdn91 commented on #57
I eventually got it, I don't know what it was, but I copied and pasted the exact example one more time today and now all is well.

[2014-05-08 18:42] #57 closed, assigned to nobody

[2014-05-09 19:33] azhang opened #59 "Warning: Cannot call method 'map' of undefined"
I've just updated from 1.2.1 to 1.3.4. no change in config.

[code]

[2014-05-09 20:38] blai commented on #59
you need to define the https://github.com/blai/grunt-express#bases options when you want to do livereload, this is for the plugin to know the set of files to watch for livereloading.

However, livereload may not work right now anyway due to some limitation on `grunt-contrib-watch`.

[2014-05-09 20:38] #59 closed, assigned to nobody

[2014-05-09 20:39] azhang commented on #59
Ah, gotcha. Thanks.

[2014-05-13 15:47] azhang opened #60 "livereload option doesn't insert livereload script"
My grunt express settings:

[code]

I'm using the example under "if you want to use both express and socket.io". I added a console.log to see which middleware is loaded.

[code]

and I get the following before the server is started.

[code]

`myMiddleware` is definitely loaded correctly - I see `here` in the console for every response. `staticMiddlware` is also definitely loaded - I can access the

[2014-05-13 15:51] azhang commented on #60
By the way I'm using express4. I know `app.stack` existed in express3 but not sure if that's the case anymore. I'll update when I find out.

update: `app.stack` in express3 is now `app._router.stack` in express4.

[2014-05-13 18:01] azhang opened #61 "rearrangeMiddleware .sortBy does not do stable sorting"
The middlewares without `middlewarePriority` property get scrambled by rearrangeMiddleware. Printing the middleware stack before and after shows that livereload (with middlewarePriority=-1) always becomes the first middleware, and staticMiddleware comes after that, but everything else loaded in my express config gets unordered because the sort function will compare `99` for all of them.

in `grunt

[2014-05-13 18:11] azhang commented on #61
I will make a pull request with some of my other changes that makes this work with Express 4. Here's the code relevant to this issue.

[code]

[2014-05-13 18:31] azhang commented on #60
Pull request here: https://github.com/blai/grunt-express/pull/62

[2014-06-09 04:31] trisys3 commented on #59
So, just to be sure, if we define the "bases" option, it will not hijack the "express.static()" middleware we already have in our server, right? The documentation did not make this clear.

[2014-06-09 14:06] azhang commented on #59
Correct.—
Sent from Mailbox

On Mon, Jun 9, 2014 at 12:31 AM, trisys3 notifications@github.com wrote:

[2014-06-20 20:45] dhaub opened #64 "Placeholders not working with Express 4"
The statics and middleware are all placed at the end of the express pipeline in version 4. This appears to be because the pipeline has been moved from the application variable "stack" to be part of the application's "_router" object.

References to server.stack in the util.js file need to be changed to server._router.task when working with express 4.

[2014-07-03 19:34] aktary commented on #64
How are you able to see what the express pipeline is?  I'm having a very frustrating time with getting grunt-express to set the bases properly and I'd love to see what the pipeline is at runtime.

[2014-07-03 20:04] dhaub commented on #64
I've also run into some problems with the pipeline being reordered.  I
believe I have it fixed, but I've been unable to get the automated tests to
work, so I've been trying to manually test.  If you'd like to help test,
check out my fork of the project it has the latest fix in it.
https://github.com/dhaub/grunt-express (
https://github.com/dhaub/grunt-express.git)

On Thu, Jul 3, 2014 at 3:34 PM,

[2014-07-03 20:31] aktary commented on #64
Did you guys see that the build is failing?  There's something wonky with the dependencies...

[2014-07-09 00:08] aktary commented on #64
I've upgraded to 1.4.0 and it's working... except that it killed my passportjs implementation when I had the staticsPlaceholder above the passport.initialize.  Not sure why, but it did.  Once I moved it below, everything is fine again.

[2014-07-11 21:20] levjj commented on #49
I think it would be good to mention in the readme file that `serverreload: true` and `livereload: true` are both incompatible with any existing watch tasks. I struggled with this issue quite a bit until I gave up and used `grunt-contrib-connect` for live-reloading.

[2014-08-08 10:31] ronxjansen commented on #41
Same issue here. I'm using express 4.8.1 and grunt-express 1.4.1

[2014-08-13 08:46] antonholmquist commented on #41
I also have this issue express 4.7.4, grunt-express 1.4.1.

[2014-08-19 22:39] mhuggins commented on #64
I'm trying to use grunt-express (1.4.1), and I think I'm hitting the same problem.  I'm getting an error message...

...from inside this grunt-express function:

[code]

It looks like this grunt task is trying to call `stack` on my express server, which is `undefined`.  Any advice?

[2014-08-19 22:45] mhuggins commented on #64
Downgrading from 1.4.1 to 1.4.0 seems to fix the problem.  Oddly enough, npm has version 1.4.1 as the latest even though master still shows 1.4.0 in package.json.

[2014-08-20 11:33] dhaub commented on #64
Any chance of getting a small project that demonstrates the error so that
we can fix it?

On Tue, Aug 19, 2014 at 6:45 PM, Matt Huggins notifications@github.com
wrote:

[2014-09-05 09:39] danielcrisp commented on #37
It seems the problem is with `grunt-contrib-watch` as detailed here: https://github.com/blai/grunt-express/issues/22

I upgraded to the latest version of `grunt-contrib-watch`, currently v0.6.1 and everything is working perfectly now :-)

[2014-09-24 22:55] flyingsky commented on #49
@levjj totally agree, this issue still exists!!!

[2014-11-04 07:11] Alexorz opened #69 "Livereload script not be appended when express+socket.io server"
Hello,
I meet an issue that livereload script does not be appended to html in express+socket.io server.

**Demo project here:**
https://github.com/Alexorz/grunt-express-angular-example/tree/Demo_for_issue

**Versions:**
grunt-express: 1.4.0 (got another issue on 1.4.1)
express: 4.10.1

[2014-11-04 08:01] Alexorz opened #70 "`watch` task be interrupted by `express-server`"
When I modified `.scss` files, there should be a compass compiling that triggered by task `watch`, but actually nothing happend. The `watch` task seems to be interrupted by task `express-server`.

![image](https://cloud.githubusercontent.com/assets/660581/4896356/9a98f760-63f8-11e4-96c6-489d017b271b.png)

**Demo project here:**
https://github.com/Alexorz/grunt-express-angular-example/tree/Demo_for

[2014-11-08 21:28] mitchellmc opened #71 "Adding server property to options causes error"
Hi,

First of all - Ill go ahead and apologize if this is a setup or problem caused by me not reading the documentation properly.

This issue occurs on the the angular ng-boilerplate kickstarter template. I’m using the yeoman ngbp located here [ https://www.npmjs.org/package/generator-ngbp ] . I’ve attached a barebones project generated with this generator [ https://www.dropbox.com/s/ogvhnte57b6rx

[2014-11-13 15:42] dominikkukacka commented on #42
Hi guys,

any progress on this issue?

[2014-11-18 06:32] #71 closed, assigned to nobody

[2014-11-19 07:17] leohgbs commented on #70
+1

[2014-11-26 23:45] Zigson commented on #59
Hi, I am also getting this error:

Running "express:all" (express) task
Warning: Cannot call method 'map' of undefined Use --force to continue.

Can you please point me to a solution, I am new to Grunt and kind of don't understand how/what to define in bases.

Here is my configuration in gruntfile.js

[code]

Thanks.

[2014-11-27 00:21] trisys3 commented on #59
Zigson, the option name is "bases", not "base". However, this may not be your only problem.

[2014-11-27 00:28] Zigson commented on #59
Sean, thanks for pointing this out. Will try further on.

[2014-12-15 22:15] klode commented on #70
I also  have a similar problem.

[code]

The watch task does not work any more when I use express:livereload

I also have a small test app that reproduces this problem, I can load it on git if can be useful.

grunt-express 1.4.0
express 4.10.6

Gruntfile.js

[code]

[2014-12-19 21:10] #33 closed, assigned to timsuchanek

[2015-01-09 15:24] wmertens opened #73 "Document using a coffeescript server"
I can't figure out how to make it run a coffeescript server instead of a javascript one.

[2015-01-15 19:40] nate250 commented on #64
The provided example with socket.io should do this.

Alternatively, here is my code that is running into the same problem:

[code]

[2015-03-19 22:34] jme783 commented on #70
Is this still an issue? Wondering if I should use this library.

[2015-03-25 22:59] jremydeaton opened #74 "Hostname Not Specified using defaults"
Unable to start server using defaults. Saying that hostname is not specified. Documentation states that "localhost" is the default hostname.

Gruntfile:
[code]
Terminal output:
[code]

[2015-06-08 19:50] olegberman commented on #37
Try using the task called 'express-restart'

[2015-06-20 11:06] joniba opened #75 "incorrect documentation"
Following the documentation, this does not work (copied from the documentation page):

grunt.initConfig({
  express: {
    myServer: {
      server: path.resolve(__dirname, 'server.js')
    }
  }
});

This does:

grunt.initConfig({
  express: {
    myServer: {
     options: {
      server: path.resolve(__dirname, 'server.js')
     }
    }
  }
});

I.e., server must be nested in options object.

[2015-06-24 09:39] petetnt opened #76 "Local Npm module "grunt-contrib-watch" not found-error"
When user has already installed `grunt-contrib-watch` via npm before installing `grunt-express`, npm won't install it under `grunt-express/node_modules` (npm/npm#1341) which leads to the following:

[code]

However, other than the error, everything seems to work as normal.

Steps to repro:

Gruntfile:

[code]

Cmd:

[code]

[2015-06-26 05:52] dongshaohan commented on #41
Same issue here. I'm using express 4.13.0 and grunt-express 1.4.1

[2015-06-26 05:56] dongshaohan commented on #76
I had solved this problem.

grunt.loadNpmTasks('grunt-contrib-watch');
grunt.loadNpmTasks('grunt-express');

the watch plugin must be ahead.

[2015-06-26 05:59] dongshaohan commented on #75
add this "var path = require('path');" on first line.

[2015-09-05 21:42] mhuggins commented on #64
Ugh, I just ran into this again.  Took some searching to remember this is the npm package that's causing it.

[2015-09-15 00:44] eablokker opened #77 "Angular HTML5 mode URLs"
Is there a way to use URL rewrite rules? Is there another package that works with this one that allows rewrite rules? I'm trying to get this to work with Angular's HTML5 mode URLs. I need to rewrite all paths to point to /index.html

[2015-09-23 13:43] nwinkler opened #78 "Is there a way to specify the `watch` patterns?"
Looking at the code, the `options.bases` array is added to the `watch` task with the `'/**/*.*'` extension, which means that everything under the bases folders is being watched.

This is less than ideal, in many cases one only wants to watch for changes in a certain file type, especially when using something like Bower for pulling in dependencies. In this case, I want to mount/serve all of the dir

[2015-09-30 07:48] GuillaumeLeclerc commented on #64
Hello,
Do you have any news on this ?

[2015-10-26 15:38] mmclau14 opened #80 "url encoding on open option"
if a url has a hash tag, it is escaped by the browser and becomes an invalid url

[2015-12-20 16:36] JoyAhmed opened #81 "Error installing - peerinvalid - npm install grunt-contrib-connect --save-dev"
I need to install grunt modules watch. But I'm getting errors. using command: npm install grunt-contrib-watch --save-dev But I'm getting error. How to solve this?

npm WARN unmet dependency which is version 0.44.0 npm WARN unmet dependency D:\Courses\FRONT-END JAVASCRIPT FRAMEWORK - ANGULARJS OVERVIEW\conFusion\node_modules\grunt-contrib-jasmine\node_modules\grunt-lib-phantomjs\node_modules\phanto

[2016-01-06 21:41] henryng24 commented on #37
@danielcrisp @olegberman

The behavior I'm getting is such that live-reloading doesn't work on the front-end UNLESS you reload the server first. livereload and serverreload is set to true.

SCENARIO 1:
1. Make changes to the server (server reloads and reflects changes)
2. Make changes to the front-end (JS/HTML/CSS) (front-end reloads and reflects changes on all subsequent front-end changes)
3. Mak

[2016-03-29 08:09] bmhung commented on #70
This is still an issue!

[2016-03-30 15:06] Alexorz commented on #70
It has been such a long time,  I'm using KOA and Gulp now...

This module seems to be no longer maintained.

[2016-04-29 15:13] hildjj opened #83 "Dead project?"
@blai, are you still maintaining grunt-express?  I'm happy to help if you don't have time.

[2016-04-29 20:14] hildjj commented on #83
Nevermind.  Getting rid of both Grunt and Gulp: http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/

[2016-04-29 20:14] #83 closed

[2016-07-17 23:06] #44 closed

[2016-09-06 09:19] dorothyDorothy opened #85 "Cannot GET /"
This is my Gruntfile:

`var path = require('path');
module.exports = function(grunt) {
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),

[code]

};

When I run this I get this message in the console:

It opens my browser at dev.scoopbmx:9000 but the response is

I'm running ubuntu 16.04
Can you tell me what I'm doing wrong?
Also, does this support PHP applications/websites?
Thank

[2016-09-28 00:52] shardool commented on #50
did you get anywhere with this  ? Please let me know if you had any luck with this.

[2017-04-14 18:03] titocr opened #87 "Alternative to grunt-express"
As this repo isn't maintained anymore, what's the current favorite alternative? Ideally it would be a near drop-in replacement. Is it grunt-express-server?

[2017-04-21 07:46] SuneRadich commented on #87
I just switched from grunt-express to https://github.com/gruntjs/grunt-contrib-connect

It was more or less a drop-in replacement, only real change to the config was that grunt-express use an option called `bases` where grunt-contrib-connect use `base`

My usecase was just a very simple http-server to serve static files. But it seems grunt-contrib-connect have lots of options if you need something

[2017-10-19 12:29] ddcovery opened #88 "How can I pass parameters to the node instance?"
i.e. --icu-data-dir=./node_modules/full-icu

[2017-10-20 15:52] ddcovery commented on #88
Sorry,  it is not necessary.

An ".env" file solves the problem

[2019-01-14 10:35] rashmitneo20 opened #89 "npm i grunt-express fetch failedgrunt-contrib-watch"
npm i grunt-express
npm WARN deprecated connect@2.7.11: connect 2.x series is deprecated
npm ERR! fetch failed https://github.com/blai/grunt-contrib-watch/tarball/master
npm WARN retry will retry, error on last attempt: Error: unable to get local issuer certificate
npm ERR! fetch failed https://github.com/blai/grunt-contrib-watch/tarball/master
npm WARN retry will retry, error on last attempt: Err